#database config
export DB_HOSTNAME="127.0.0.1"
export DB_TEST_HOSTNAME=$DB_HOSTNAME
export DB_PROD_HOSTNAME=$DB_HOSTNAME
export DB_PROD_HOSTNAME=$DB_HOSTNAME
export DB_NAME="callermate"
export DB_USER="root"
export DB_PASSWORD=""
export DB_DIALECT="postgres"

#migration config
export MIGRATIONS_PATH="src/data/migrations"
export MODELS_PATH="src/models"
export SEEDERS_PATH="src/data/seeders"
export CONFIG="src/core/db-config.js"

#others configs